.DS_Store
*~
*.la
*.lo
*.loT
*.o

*.py[cod]

core.*
vgcore.*

src/lib/config.h
src/lib/version.h
librnp-*.pc
rpm-ldconfig
src/lib/rnp-config-version.cmake
src/lib/rnp-config.cmake
src/apps/packet-dumper/redumper
src/rnp/rnp
src/rnpkeys/rnpkeys
src/tests/rnp_tests

# Patch output
*.orig
*.rej

# Editor temp files
*.swp
\#*\#

# shared libs
*.so
*.so.*
*.dylib

# CMake
CPackConfig.cmake
CPackSourceConfig.cmake
DartConfiguration.tcl
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build/

version.txt
