name: centos7

on:
  pull_request:
  push:
    branches:
      - master
      - 'release/**'

env:
  CORES: 2
  CODECOV_TOKEN: dbecf176-ea3f-4832-b743-295fd71d0fad

jobs:
  tests:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    container:
      image: centos:7
    timeout-minutes: 50
    strategy:
      matrix:
        env:
          - BUILD_MODE: normal
            GPG_VERSION: stable
          - BUILD_MODE: normal
            GPG_VERSION: beta
          - BUILD_MODE: sanitize
            GPG_VERSION: stable
          - BUILD_MODE: sanitize
            GPG_VERSION: beta
          - BUILD_MODE: coverage
            GPG_VERSION: beta
            RNP_TESTS: cli_tests
          - BUILD_MODE: coverage
            GPG_VERSION: beta
            RNP_TESTS: rnp_tests
    env: ${{ matrix.env }}
    steps:
      - uses: actions/checkout@v1
      - name: Add rnpuser
        run: |
          useradd rnpuser
          yum -y -q install sudo
          echo -e "rnpuser\tALL=(ALL)\tNOPASSWD:\tALL" > /etc/sudoers.d/rnpuser
          echo -e "rnpuser\tsoft\tnproc\tunlimited\n" > /etc/security/limits.d/30-rnpuser.conf
      - name: Setup environment
        run: |
          echo "::set-env name=LOCAL_INSTALLS::$GITHUB_WORKSPACE/installs"
          echo "::set-env name=RNP_INSTALL::$GITHUB_WORKSPACE/rnp-install"
          echo "::set-env name=LOCAL_BUILDS::$GITHUB_WORKSPACE/builds"
      - name: Cache
        id: cache
        uses: actions/cache@v1
        with:
          path: ${{ env.LOCAL_INSTALLS }}
          key: ${{ github.workflow }}-${{ runner.os }}-${{ matrix.env.BUILD_MODE }}-gpg-${{ matrix.env.GPG_VERSION }}-${{ hashFiles('ci/*') }}
      - name: Build cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          set -x
          ci/before_install.sh
          . ci/env.inc.sh
          chown -R rnpuser:rnpuser $PWD
          exec su rnpuser -c ./ci/install.sh
      - name: tests
        run: |
          set -x
          chown -R rnpuser:rnpuser $PWD
          exec su rnpuser -c ./ci/run.sh

