name: centos7

on:
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - '/*.sh'
      - '/.*'
      - '/_*'
      - '/vcpkg.txt'
      - 'Brewfile'
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '**.nix'
      - 'flake.lock'
      - '.github/workflows/*.yml'
      - '!.github/workflows/centos7.yml'
  pull_request:
    paths-ignore:
      - '/*.sh'
      - '/.*'
      - '/_*'
      - '/vcpkg.txt'
      - 'Brewfile'
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '**.nix'
      - 'flake.lock'

env:
  CORES: 2
  CODECOV_TOKEN: dbecf176-ea3f-4832-b743-295fd71d0fad
  LANG: en_US.UTF-8
  LC_ALL: en_US.UTF-8
  LC_LANG: en_US.UTF-8
  USE_STATIC_DEPENDENCIES: yes
  BOTAN_VERSION: 2.17.3 # NOTE: 2.18.x may need newer GCC versions to build
  DOWNLOAD_RUBYRNP: Off
  #LSAN_OPTIONS: fast_unwind_on_malloc=0 # Very slow for sanitize builds, use for debugging.

jobs:
  tests:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    container:
      image: ${{ matrix.env.IMAGE }}
    timeout-minutes: 70
    strategy:
      fail-fast: false
      matrix:
        env:
          - BUILD_MODE: normal
            GPG_VERSION: stable
            CC: gcc
            CXX: g++
            IMAGE: centos:7
          - BUILD_MODE: normal
            GPG_VERSION: beta
            CC: gcc
            CXX: g++
            IMAGE: centos:7
          - BUILD_MODE: normal
            GPG_VERSION: stable
            CC: clang
            CXX: clang++
            IMAGE: centos:7
          - BUILD_MODE: normal
            GPG_VERSION: beta
            CC: clang
            CXX: clang++
            IMAGE: centos:7
# Sanitize build mode gave false positives on centos7 and was removed
# Coverage can only been tested with the GNU compiler
# Upload only single report from centos8 to the codecov to avoid mess
    name: ${{ matrix.env.IMAGE }} Botan [mode ${{ matrix.env.BUILD_MODE }}; test type ${{ matrix.env.RNP_TESTS }}; CC ${{ matrix.env.CC }}; GnuPG ${{ matrix.env.GPG_VERSION }}]
    env: ${{ matrix.env }}
    steps:
      - run: |
          yum -y install http://opensource.wandisco.com/centos/7/git/x86_64/wandisco-git-release-7-2.noarch.rpm
          yum -y install git
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Add rnpuser
        run: |
          useradd rnpuser
          yum -y -q install sudo
          echo -e "rnpuser\tALL=(ALL)\tNOPASSWD:\tALL" > /etc/sudoers.d/rnpuser
          echo -e "rnpuser\tsoft\tnproc\tunlimited\n" > /etc/security/limits.d/30-rnpuser.conf
      - name: Setup environment
        run: |
          . ci/gha/setup-env.inc.sh
          exec su rnpuser -c ci/install_noncacheable_dependencies.sh
      - name: Cache
        id: cache
        uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ github.workflow }}-${{ runner.os }}-${{ matrix.env.BUILD_MODE }}-${{ matrix.env.CC }}-gpg-${{ matrix.env.GPG_VERSION }}-${{ hashFiles('ci/**') }}-${{ hashFiles('.github/workflows/**') }}
      - name: Build cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          set -x
          chown -R rnpuser:rnpuser $PWD
          exec su rnpuser -c ci/install_cacheable_dependencies.sh
      - name: tests
        run: |
          set -x
          chown -R rnpuser:rnpuser $PWD
          exec su rnpuser -c ci/run.sh
      - name: symbol-visibility
        run: |
          set -euxo pipefail
          nm --defined-only -g $RNP_INSTALL/lib64/librnp*.so > exports
          [ $(grep -c dst_close exports) == "0" ]
          [ $(grep -c Botan exports) == "0" ]
          [ $(grep -c rnp_version_string_full exports) == "1" ]
  pkgconfig-cmake-target:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    container:
      image: centos:7
    timeout-minutes: 10
    strategy:
      matrix:
        env:
          - BUILD_SHARED_LIBS: yes
          - BUILD_SHARED_LIBS: no
    env: ${{ matrix.env }}
    continue-on-error: true
    steps:
      - run: |
          yum -y install http://opensource.wandisco.com/centos/7/git/x86_64/wandisco-git-release-7-2.noarch.rpm
          yum -y install git
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Test
        run: |
          set -euxo pipefail
          export USE_STATIC_DEPENDENCIES=no
          ci/install_noncacheable_dependencies.sh
          ci/install_cacheable_dependencies.sh

          . ci/env.inc.sh

          # build+install
          build_and_install /usr

          # check for install issues
          check_build
          build_example_pkgconfig
      - name: Package
        run: |
          set -euxo pipefail
          yum install -y rpm-build
          cpack -G RPM
