name: centos8

on:
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'

env:
  CORES: 2
  CODECOV_TOKEN: dbecf176-ea3f-4832-b743-295fd71d0fad
  LANG: C.UTF-8
  LC_ALL: C.UTF-8
  LC_LANG: C.UTF-8
  USE_STATIC_DEPENDENCIES: yes

jobs:
  tests:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    container:
      image: centos:8
    timeout-minutes: 70
    strategy:
      fail-fast: false
      matrix:
        env:
          - BUILD_MODE: normal
            GPG_VERSION: stable
          - BUILD_MODE: normal
            GPG_VERSION: beta
          - BUILD_MODE: normal
            GPG_VERSION: 2.3.1
          - BUILD_MODE: sanitize
            GPG_VERSION: stable

          # TODO: fix build error:
          # libcommon.a(libcommon_a-iobuf.o):(.bss+0x8): multiple definition of `iobuf_debug_mode'
          # t-iobuf.o:(.bss+0x0): first defined here
          # clang-11: error: linker command failed with exit code 1 (use -v to see invocation)
          #
          # - BUILD_MODE: sanitize
          #   GPG_VERSION: beta

          - BUILD_MODE: coverage
            GPG_VERSION: beta
            RNP_TESTS: cli_tests
          - BUILD_MODE: coverage
            GPG_VERSION: beta
            RNP_TESTS: rnp_tests
    env: ${{ matrix.env }}
    steps:
      - run: |
          yum -y install git
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Add rnpuser
        run: |
          useradd rnpuser
          yum -y -q install sudo
          echo -e "rnpuser\tALL=(ALL)\tNOPASSWD:\tALL" > /etc/sudoers.d/rnpuser
          echo -e "rnpuser\tsoft\tnproc\tunlimited\n" > /etc/security/limits.d/30-rnpuser.conf
      - name: Setup environment
        run: |
          . ci/gha/setup-env.inc.sh
          exec su rnpuser -c ci/install_noncacheable_dependencies.sh
      - name: Cache
        id: cache
        uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ github.workflow }}-${{ runner.os }}-${{ matrix.env.BUILD_MODE }}-gpg-${{ matrix.env.GPG_VERSION }}-${{ hashFiles('ci/**') }}-${{ hashFiles('.github/workflows/**') }}
      - name: Build cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          set -x
          chown -R rnpuser:rnpuser $PWD
          exec su rnpuser -c ci/install_cacheable_dependencies.sh
      - name: tests
        run: |
          set -x
          chown -R rnpuser:rnpuser $PWD
          exec su rnpuser -c ci/run.sh
      - name: symbol-visibility
        run: |
          set -euxo pipefail
          nm --defined-only -g $RNP_INSTALL/lib64/librnp*.so > exports
          grep -qv dst_close exports
          grep -qw rnp_version_string exports
  pkgconfig-cmake-target:
    runs-on: ubuntu-latest
    # TODO: re-enable when the following can pass
    if: "${{ false && !contains(github.event.head_commit.message, 'skip ci') }}"
    container:
      image: centos:8
    timeout-minutes: 10
    strategy:
      matrix:
        env:
          - BUILD_SHARED_LIBS: yes
          - BUILD_SHARED_LIBS: no
    env: ${{ matrix.env }}
    continue-on-error: true
    steps:
      - run: |
          yum -y install git
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Test
        run: |

          # cmake
          set -euxo pipefail
          export USE_STATIC_DEPENDENCIES=no
          ci/install_noncacheable_dependencies.sh
          ci/install_cacheable_dependencies.sh

          . ci/env.inc.sh

          # build+install
          build_and_install /usr

          # check for install issues
          check_build
          build_example_pkgconfig
      - name: Package
        run: |
          set -euxo pipefail
          yum install -y rpm-build
          cpack -G RPM
