name: centos-and-fedora

on:
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - '/*.sh'
      - '/.*'
      - '/_*'
      - '/vcpkg.txt'
      - 'Brewfile'
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '**.nix'
      - 'flake.lock'
      - '.github/workflows/*.yml'
      - '!.github/workflows/centos-and-fedora.yml'
  pull_request:
    paths-ignore:
      - '/*.sh'
      - '/.*'
      - '/_*'
      - '/vcpkg.txt'
      - 'Brewfile'
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '**.nix'
      - 'flake.lock'

concurrency:
  group: '${{ github.workflow }}-${{ github.job }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

env:
  CODECOV_TOKEN: dbecf176-ea3f-4832-b743-295fd71d0fad
  DOWNLOAD_RUBYRNP: Off

jobs:
  tests:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    container: ${{ matrix.image.container }}
    timeout-minutes: 70
    strategy:
      fail-fast: false
      matrix:
        env:
          - { CC: gcc,   CXX: g++,     BUILD_MODE: normal,   USE_STATIC_DEPENDENCIES: yes }
#   normal --> Release build; sanitize --> Debug build so theoretically test conditions are different
#         - { CC: clang, CXX: clang++, BUILD_MODE: normal,   USE_STATIC_DEPENDENCIES: yes }
##          - { CC: clang, CXX: clang++, BUILD_MODE: sanitize, USE_STATIC_DEPENDENCIES: yes }

        image:
          - { name: 'CentOS 7',  container: 'centos:7',                      gpg_ver: stable, backend: Botan,   botan_ver: 2.17.3, locale: en_US.UTF-8 }
##          - { name: 'CentOS 7',  container: 'centos:7',                      gpg_ver: beta,   backend: Botan,   botan_ver: 2.17.3, locale: en_US.UTF-8 }
##          - { name: 'CentOS 8',  container: 'tgagor/centos:stream8',         gpg_ver: lts,    backend: Botan,   sm2: On,           locale: C.UTF-8     }
##          - { name: 'CentOS 8',  container: 'tgagor/centos:stream8',         gpg_ver: stable, backend: Botan,   sm2: Off,          locale: C.UTF-8     }
##          - { name: 'CentOS 8',  container: 'tgagor/centos:stream8',         gpg_ver: lts,    backend: OpenSSL,                    locale: C.UTF-8     }
##          - { name: 'CentOS 8',  container: 'tgagor/centos:stream8',         gpg_ver: beta,   backend: Botan,   sm2: On,           locale: C.UTF-8     }
##          - { name: 'CentOS 8',  container: 'tgagor/centos:stream8',         gpg_ver: 2.3.1,  backend: Botan,   sm2: On,           locale: C.UTF-8     }
##          - { name: 'CentOS 9',  container: 'quay.io/centos/centos:stream9', gpg_ver: stable, backend: Botan,                      locale: C.UTF-8     }
##          - { name: 'CentOS 9',  container: 'quay.io/centos/centos:stream9', gpg_ver: stable, backend: OpenSSL, idea: On,          locale: C.UTF-8     }
##          - { name: 'CentOS 9',  container: 'quay.io/centos/centos:stream9', gpg_ver: stable, backend: OpenSSL, idea: Off,         locale: C.UTF-8     }
##          - { name: 'Fedora 35', container: 'fedora:35',                     gpg_ver: stable, backend: Botan,                      locale: C.UTF-8     }
##          - { name: 'Fedora 35', container: 'fedora:35',                     gpg_ver: stable, backend: OpenSSL,                    locale: C.UTF-8     }
##          - { name: 'Fedora 36', container: 'fedora:36',                     gpg_ver: stable, backend: Botan,                      locale: C.UTF-8     }
##          - { name: 'Fedora 36', container: 'fedora:36',                     gpg_ver: stable, backend: OpenSSL,                    locale: C.UTF-8     }

##        include:
          # Coverage report for Botan backend
##          - image: { name: 'CentOS 8', container: 'tgagor/centos:stream8', gpg_ver: stable, backend: Botan, sm2: On, locale: C.UTF-8 }
##            env:   { CC: gcc, CXX: g++, BUILD_MODE: coverage , RNP_TESTS: ".*", USE_STATIC_DEPENDENCIES: yes                         }
          # Coverage report for OpenSSL 1.1.1 backend
##          - image: { name: 'CentOS 8', container: 'tgagor/centos:stream8', gpg_ver: stable, backend: OpenSSL, locale: C.UTF-8        }
##            env:   { CC: gcc, CXX: g++, BUILD_MODE: coverage , RNP_TESTS: ".*", USE_STATIC_DEPENDENCIES: yes                         }
          # Coverage report for OpenSSL 3.0 backend
##          - image: { name: 'Fedora 36', container: 'fedora:36', gpg_ver: stable, backend: OpenSSL, locale: C.UTF-8                   }
##            env:   { CC: gcc, CXX: g++, BUILD_MODE: coverage , RNP_TESTS: ".*", USE_STATIC_DEPENDENCIES: yes                         }

    env: ${{ matrix.env }}
    name: ${{ matrix.image.name }} ${{ matrix.image.backend }} [test mode ${{ matrix.env.BUILD_MODE }}; CC ${{ matrix.env.CC }}; GnuPG ${{ matrix.image.gpg_ver }}; SM2 ${{ matrix.image.sm2 }}; IDEA ${{ matrix.image.idea }}]
    steps:
      - name: Install prerequisites for prerequisites
        if: matrix.image.container == 'centos:7'
        run:  yum -y install http://opensource.wandisco.com/centos/7/git/x86_64/wandisco-git-release-7-2.noarch.rpm

      - name: Install prerequisites
        run:  yum -y install git sudo

      - name: Setup environment
        run: |
          set -o errexit -o pipefail -o noclobber -o nounset
          echo LANG=${{ matrix.image.locale }} >> $GITHUB_ENV
          echo LC_ALL=${{ matrix.image.locale }} >> $GITHUB_ENV
          echo LC_LANG=${{ matrix.image.locale }} >> $GITHUB_ENV
          echo GPG_VERSION=${{ matrix.image.gpg_ver }} >> $GITHUB_ENV
          echo ENABLE_SM2=${{ matrix.image.sm2 }} >> $GITHUB_ENV
          echo ENABLE_IDEA=${{ matrix.image.idea }} >> $GITHUB_ENV
          backend=${{ matrix.image.backend }}
          backend="$(echo "${backend:-}" | tr '[:upper:]' '[:lower:]')"
          echo CRYPTO_BACKEND="$backend" >> $GITHUB_ENV
          echo BOTAN_VERSION=${{ matrix.image.botan_ver }} >> $GITHUB_ENV
          useradd rnpuser
          echo -e "rnpuser\tALL=(ALL)\tNOPASSWD:\tALL" > /etc/sudoers.d/rnpuser
          echo -e "rnpuser\tsoft\tnproc\tunlimited\n" > /etc/security/limits.d/30-rnpuser.conf

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup noncacheable dependencies
        run: |
          . ci/gha/setup-env.inc.sh
          exec su rnpuser -c ci/install_noncacheable_dependencies.sh

      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ matrix.image.container }}-${{ matrix.image.backend }}-${{ matrix.env.BUILD_MODE }}-${{ matrix.env.CC }}-${{ matrix.image.gpg_ver }}-${{ matrix.image.sm2 }}-${{ matrix.image.idea }}-${{ hashFiles('ci/**') }}-${{ hashFiles('.github/workflows/centos-and-fedora.yml') }}

      - name: Adjust folder ownership
        run: |
          set -o errexit -o pipefail -o noclobber -o nounset
          chown -R rnpuser:rnpuser $PWD

      - name: Setup cacheable dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: exec su rnpuser -c ci/install_cacheable_dependencies.sh

      - name: Build and Test
        run: exec su rnpuser -c ci/run.sh

      - name: Checkout shell test framework
        uses: actions/checkout@v3
        with:
          repository: kward/shunit2
          path: ci/tests/shunit2

      - name: Run additional ci tests
        run:  ci/tests/tests.sh

  package:
    runs-on: ubuntu-latest
    container: ${{ matrix.image.container }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        image:
          - { name: 'CentOS-7',  container: 'centos:7',                      backend: Botan, botan_ver: 2.17.3,                 locale: en_US.UTF-8 }
# CXXFLAGS environment setting resolves dual ABI issues caused by BOTAN libraries with the version of GCC installed at 'tgagor/centos:stream8'
# https://gcc.gnu.org/onlinedocs/gcc-5.2.0/libstdc++/manual/manual/using_dual_abi.html
          - { name: 'CentOS-8',  container: 'tgagor/centos:stream8',         backend: Botan, flags: -D_GLIBCXX_USE_CXX11_ABI=0, locale: C.UTF-8     }
          - { name: 'CentOS-9',  container: 'quay.io/centos/centos:stream9', backend: Botan,                                    locale: C.UTF-8     }
          - { name: 'Fedora-35', container: 'fedora:35',                     backend: Botan,                                    locale: C.UTF-8     }
          - { name: 'Fedora-36', container: 'fedora:36',                     backend: Botan,                                    locale: C.UTF-8     }
        env:
          - { BUILD_SHARED_LIBS: yes, USE_STATIC_DEPENDENCIES: no }
          - { BUILD_SHARED_LIBS: no,  USE_STATIC_DEPENDENCIES: no }
    env: ${{ matrix.env }}
    name: Packaging on ${{ matrix.image.name }} ${{ matrix.image.backend }} [shared libraries - ${{ matrix.env.BUILD_SHARED_LIBS }}]
    steps:
      - name: Install prerequisites for prerequisites
        if: matrix.image.container == 'centos:7'
        run:  yum -y install http://opensource.wandisco.com/centos/7/git/x86_64/wandisco-git-release-7-2.noarch.rpm

      - name: Install prerequisites
        run:  yum -y install git sudo rpm-build

      - name: Setup environment
        run: |
          set -o errexit -o pipefail -o noclobber -o nounset
          echo LANG=${{ matrix.image.locale }} >> $GITHUB_ENV
          echo LC_ALL=${{ matrix.image.locale }} >> $GITHUB_ENV
          echo LC_LANG=${{ matrix.image.locale }} >> $GITHUB_ENV
          backend=${{ matrix.image.backend }}
          backend="$(echo "${backend:-}" | tr '[:upper:]' '[:lower:]')"
          echo CRYPTO_BACKEND="$backend" >> $GITHUB_ENV
          echo BOTAN_VERSION=${{ matrix.image.botan_ver }} >> $GITHUB_ENV
          echo CXXFLAGS=${{ matrix.image.flags }} >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3

      - name: Checkout sexp library
        uses: actions/checkout@v3
        with:
          repository: rnpgp/sexp
          path: sexp

      - name: Setup noncacheable dependencies
        run: |
          . ci/gha/setup-env.inc.sh
          ci/install_noncacheable_dependencies.sh

#      - name: Cache
#        id: cache
#        uses: actions/cache@v3
#        with:
#          path: ${{ env.CACHE_DIR }}
#          key: Packaging-${{ matrix.image.container }}-${{ matrix.image.backend }}-${{ matrix.env.BUILD_SHARED_LIBS }}-${{ hashFiles('ci/**') }}-${{ hashFiles('.github/workflows/centos-and-fedora.yml') }}

#      - name: Setup cacheable dependencies
#        if: steps.cache.outputs.cache-hit != 'true'
#        run: ci/install_cacheable_dependencies.sh

      - name: Install Sexp
        run: |
          cd sexp
          cmake . -Bbuild                                   \
                  -DCMAKE_BUILD_TYPE=Release                \
                  -DWITH_SEXP_TESTS=OFF                     \
                  -DWITH_SEXP_CLI=OFF

          cmake --build build --config Release
          cmake --install build

      - name: Package
        run: |
          # cmake
          set -euxo pipefail
          . ci/env.inc.sh

          # build+install
          build_and_install /usr

          # check for install issues
          check_build
          build_example_pkgconfig

      - name: Package srpm
        run:  |
          cmake --build . --target package_source
          ls -l

      - name: Package rpm
        run: |
          set -euxo pipefail
          cpack -G RPM

      - name: Upload Artifact
        if: matrix.env.BUILD_SHARED_LIBS == 'yes'
        uses: actions/upload-artifact@v3
        with:
          name: RPM-${{ matrix.image.name}}
          path: '*.rpm'
          retention-days: 5

  rpm-tests:
    runs-on: ubuntu-latest
    needs: packaging-tests
    container: ${{ matrix.image.container }}
    timeout-minutes: 30
    strategy:
      matrix:
        image:
          - { name: 'CentOS-7',  container: 'centos:7',                      backend: Botan, botan_ver: 2.17.3,                 locale: en_US.UTF-8 }
# CXXFLAGS environment setting resolves dual ABI issues caused by BOTAN libraries with the version of GCC installed at 'tgagor/centos:stream8'
# https://gcc.gnu.org/onlinedocs/gcc-5.2.0/libstdc++/manual/manual/using_dual_abi.html
          - { name: 'CentOS-8',  container: 'tgagor/centos:stream8',         backend: Botan, flags: -D_GLIBCXX_USE_CXX11_ABI=0, locale: C.UTF-8     }
          - { name: 'CentOS-9',  container: 'quay.io/centos/centos:stream9', backend: Botan,                                    locale: C.UTF-8     }
          - { name: 'Fedora-35', container: 'fedora:35',                     backend: Botan,                                    locale: C.UTF-8     }
          - { name: 'Fedora-36', container: 'fedora:36',                     backend: Botan,                                    locale: C.UTF-8     }
        env:
          - { TEST_SHARED_LIBS: yes }
          - { TEST_SHARED_LIBS: no  }
    continue-on-error: true
    name: RPM test on ${{ matrix.image.name }} ${{ matrix.image.backend }} [shared libraries - ${{ matrix.env.TEST_SHARED_LIBS }}]

    steps:
      - name: Install prerequisites
        run:  yum -y install sudo wget

      - name: Install epel-release
        if: matrix.image.container == 'quay.io/centos/centos:stream9'
        run:  yum -y install epel-release

      - name: Setup environment
        run: |
          set -o errexit -o pipefail -o noclobber -o nounset
          echo LANG=${{ matrix.image.locale }} >> $GITHUB_ENV
          echo LC_ALL=${{ matrix.image.locale }} >> $GITHUB_ENV
          echo LC_LANG=${{ matrix.image.locale }} >> $GITHUB_ENV
          backend=${{ matrix.image.backend }}
          backend="$(echo "${backend:-}" | tr '[:upper:]' '[:lower:]')"
          echo CRYPTO_BACKEND="$backend" >> $GITHUB_ENV
          echo BOTAN_VERSION=${{ matrix.image.botan_ver }} >> $GITHUB_ENV
          echo CXXFLAGS=${{ matrix.image.flags }} >> $GITHUB_ENV

      - name: Download rnp rpms
        uses: actions/download-artifact@v3
        with:
          name: RPM-${{ matrix.image.name}}

      - name: Install rnp rmps
        run: |
           sudo rpm --import https://github.com/riboseinc/yum/raw/master/ribose-packages-next.pub
           sudo wget https://github.com/riboseinc/yum/raw/master/ribose.repo -O /etc/yum.repos.d/ribose.repo
           sudo yum -v -y localinstall librnp0-0*.*.rpm
           sudo yum -v -y erase $(rpm -qa  | grep rnp)
           sudo yum -v -y localinstall  librnp0-0*.*.rpm librnp0-devel-0*.*.rpm
           sudo yum -v -y erase $(rpm -qa  | grep rnp)
           sudo yum -v -y localinstall  librnp0-0*.*.rpm librnp0-devel-0*.*.rpm rnp0-0*.*.rpm
