name: coverity

on:
  schedule:
    # every day at 9:00 UTC
    - cron: '0 9 * * *'

jobs:
  scan:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Install dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -y install cmake libjson-c-dev libbotan-2-dev asciidoctor

      - name: Configure
        run: |
          echo CORES="$(nproc --all)" >> $GITHUB_ENV
          cmake -B build   -DBUILD_SHARED_LIBS=ON      \
                           -DCRYPTO_BACKEND=botan      \
                           -DDOWNLOAD_GTEST=ON         \
                           -DCMAKE_BUILD_TYPE=Release  .

      - name: Coverity Scan
        uses: vapier/coverity-scan-action@v1
        with:
          email: packaging@ribose.com
          token: ${{ secrets.COVERITY_SCAN_TOKEN }}
          command: cmake --build build --parallel $CORES
