name: lint

on: []
# on: [pull_request]

jobs:
  clang-format:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v2
      - uses: DoozyX/clang-format-lint-action@v0.11
        with:
          clangFormatVersion: 11
