name: ubuntu

on:
  pull_request:
  push:
    branches:
      - master
      - 'release/**'

env:
  CODECOV_TOKEN: dbecf176-ea3f-4832-b743-295fd71d0fad

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      matrix:
        env:
          - BUILD_MODE: normal
            GPG_VERSION: stable
          - BUILD_MODE: normal
            GPG_VERSION: beta
          - BUILD_MODE: sanitize
            GPG_VERSION: stable
          - BUILD_MODE: sanitize
            GPG_VERSION: beta
          - BUILD_MODE: coverage
            GPG_VERSION: beta
            RNP_TESTS: cli_tests
          - BUILD_MODE: coverage
            GPG_VERSION: beta
            RNP_TESTS: rnp_tests
    steps:
      - uses: actions/checkout@v1
      - name: tests
        run: |
          ./ci/run.sh
        env: ${{ matrix.env }}


