name: ubuntu

on:
  push:
    branches:
      - master
      - main
      - 'release/**'
    paths-ignore:
      - '/*.sh'
      - '/.*'
      - '/_*'
      - 'Brewfile'
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '**.nix'
      - 'flake.lock'
      - '.github/workflows/*.yml'
      - '!.github/workflows/ubuntu.yml'
  pull_request:
    paths-ignore:
      - '/*.sh'
      - '/.*'
      - '/_*'
      - 'Brewfile'
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '**.nix'
      - 'flake.lock'

concurrency:
  group: '${{ github.workflow }}-${{ github.job }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

env:
  CORES: 2
  BUILD_MODE: normal
  GPG_VERSION: stable
  USE_STATIC_DEPENDENCIES: yes

jobs:
  tests:
    name: ${{ matrix.os }} [CC ${{ matrix.env.CC }}; GnuPG stable]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        env:
          - CC: gcc
            CXX: g++
          - CC: clang
            CXX: clang++
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    env: ${{ matrix.env }}
    timeout-minutes: 50
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: true
      - name: Setup environment
        run: |
          . ci/gha/setup-env.inc.sh
          ci/install_noncacheable_dependencies.sh
      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ github.workflow }}-${{ runner.os }}-${{ env.BUILD_MODE }}-${{ matrix.env.CC }}-gpg-${{ env.GPG_VERSION }}-${{ hashFiles('ci/**') }}-${{ hashFiles('.github/workflows/**') }}
      - name: Build cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          set -x
          ci/install_cacheable_dependencies.sh
      - name: tests
        run: |
          set -x
          ci/run.sh
      - name: Package
        run: |
          set -x
          cd ${LOCAL_BUILDS}/rnp-build
          cpack -G DEB -D CPACK_DEBIAN_PACKAGE_SHLIBDEPS_PRIVATE_DIRS="${BOTAN_INSTALL}/lib;${JSONC_INSTALL}/lib;${GPG_INSTALL}/lib"
  cmake-offline-googletest-src:
    env:
      GTEST_SOURCES: /usr/src/googletest
      RNP_TESTS: rnp_tests
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: true
      - name: Setup environment
        run: |
          . ci/gha/setup-env.inc.sh
          ci/install_noncacheable_dependencies.sh
          sudo apt-get -y install googletest
      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ github.workflow }}-${{ github.job }}-${{ runner.os }}-${{ env.BUILD_MODE }}-gpg-${{ env.GPG_VERSION }}-${{ hashFiles('ci/**') }}-${{ hashFiles('.github/workflows/**') }}
      - name: Build cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          set -x
          ci/install_cacheable_dependencies.sh
      - name: tests
        run: |
          set -x
          ci/run.sh
          [ -d "${LOCAL_BUILDS}/rnp-build/src/tests" ]
          [ -d "${LOCAL_BUILDS}/rnp-build/src/tests/googletest-build" ]
          [ ! -d "${LOCAL_BUILDS}/rnp-build/src/tests/googletest-src" ]
  cmake-offline-googletest:
    env:
      DOWNLOAD_GTEST: Off
      RNP_TESTS: rnp_tests
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    timeout-minutes: 50
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: true
      - name: Setup environment
        run: |
          . ci/gha/setup-env.inc.sh
          ci/install_noncacheable_dependencies.sh
          sudo apt-get -y install googletest
      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.CACHE_DIR }}
          key: ${{ github.workflow }}-${{ github.job }}-${{ runner.os }}-${{ env.BUILD_MODE }}-gpg-${{ env.GPG_VERSION }}-${{ hashFiles('ci/**') }}-${{ hashFiles('.github/workflows/**') }}
      - name: Build cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          set -x
          ci/install_cacheable_dependencies.sh
      - name: Build googletest
        run: |
          set -x
          mkdir -p "${LOCAL_BUILDS}/googletest-build"
          pushd "${LOCAL_BUILDS}/googletest-build"
          cmake /usr/src/googletest
          sudo make -j2 install
          popd
      - name: tests
        run: |
          set -x
          ci/run.sh
          [ -d "${LOCAL_BUILDS}/rnp-build/src/tests" ]
          [ ! -d "${LOCAL_BUILDS}/rnp-build/src/tests/googletest-build" ]
          [ ! -d "${LOCAL_BUILDS}/rnp-build/src/tests/googletest-src" ]
  version-cmake-up-to-date:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: rnp
          submodules: true
      - name: Download latest version.cmake
        uses: actions/checkout@v3
        with:
          repository: rnpgp/cmake-versioning
          fetch-depth: 1
          path: cmake-versioning
          submodules: true
      - name: Compare
        run: |
          set -x
          diff "rnp/cmake/version.cmake" "cmake-versioning/version.cmake"
