name: windows-msys2

on:
  push:
    branches:
      - antonsviridenko-1594-print-backend-info
      - master
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '.github/workflows/*.yml'
      - '!.github/workflows/windows.yml'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'

env:
  BUILD_MODE: normal
  GPG_VERSION: stable
  CORES: 2

jobs:
  tests:
    name: ${{ matrix.os }} msys2 [CC ${{ matrix.env.CC }}; GnuPG stable]
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    timeout-minutes: 70
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        env:
          - CC: gcc
            CXX: g++
            GTEST_SOURCES: /home/runneradmin/googletest-download/googletest-src
#          - CC: clang
#            CXX: clang++
#            GTEST_SOURCES: /home/runneradmin/googletest-download/googletest-src
    env:  ${{ matrix.env }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: msys2/setup-msys2@v2
        with:
          path-type: inherit
      - name: Setup environment
        shell: msys2 {0}
        run: |
          . ci/gha/setup-env.inc.sh
          bash ci/install_noncacheable_dependencies.sh
      - name: Cache
        id: cache
        uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ github.workflow }}-${{ runner.os }}-${{ env.BUILD_MODE }}-gpg-${{ env.GPG_VERSION }}-${{ hashFiles('ci/**') }}-${{ hashFiles('.github/workflows/**') }}
      - name: Build cache
        if: steps.cache.outputs.cache-hit != 'true'
        shell: msys2 {0}
        env:
          USE_STATIC_DEPENDENCIES: "yes"
        run: |
          set -x
          # As we need the 'botan' binary during the tests, and there seem to
          # be no botan binaries available for download, we opt to build
          # 'botan' from source so we get both dev headers and the binary.
          ci/install_cacheable_dependencies.sh botan
      - name: download googletest
        # This is workaround for the CMake or MSYS issue, failing to correctly checkout external project
        #  Failed to get the hash for HEAD:
        #  fatal: ambiguous argument 'HEAD^commit': unknown revision or path not in the working tree.
        shell: msys2 {0}
        run: |
          set -euxo pipefail
          mkdir ${HOME}/googletest-download
          pushd ${HOME}/googletest-download
          git clone --no-checkout "https://github.com/google/googletest.git" "googletest-src"
          cd googletest-src
          git checkout c43f710 --
          popd
      - name: tests
        shell: msys2 {0}
        run: bash ci/main.sh
      - shell: msys2 {0}
        run: |
          set -euxo pipefail
          wget https://github.com/lucasg/Dependencies/releases/download/v1.10/Dependencies_x64_Release.zip
          7z x Dependencies_x64_Release.zip
          ./Dependencies -exports "${RNP_INSTALL}"/bin/librnp*.dll > exports
          grep -qv dst_close exports
          grep -qw rnp_version_string exports
