name: windows-msvc
on:
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '.github/workflows/*.yml'
      - '!.github/workflows/windows-msvc.yml'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'

jobs:
  build_and_test:
    name: ${{ matrix.os }} msvc [arch ${{ matrix.arch }}]
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, Win32]
        include:
          - arch: x64
            os: windows-latest
            triplet: x64-windows
            vcpkg_dir: 'C:\\vcpkg'
          - arch: Win32
            os: windows-latest
            triplet: x86-windows
            vcpkg_dir: 'C:\\vcpkg'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          lfs: true
      - name: Cache vcpkg
        uses: actions/cache@v2
        with:
          path: '${{ matrix.vcpkg_dir }}/installed'
          key: vcpkg-${{ matrix.triplet }}-${{ hashFiles('vcpkg.txt') }}
      - name: Install vcpkg packages
        shell: bash
        run: |
          set -eux
          vcpkg install --triplet ${{ matrix.triplet }} $(cat vcpkg.txt)
      - name: Configure
        env:
          VCPKG_DIR: '${{ matrix.vcpkg_dir }}'
        shell: bash
        run: |
          set -eux
          mkdir build
          cmake -B ./build -G "Visual Studio 16 2019" -A ${{ matrix.arch }} -DCMAKE_TOOLCHAIN_FILE=${{ matrix.vcpkg_dir }}\\scripts\\buildsystems\\vcpkg.cmake .
      - name: Compile
        shell: bash
        run: cmake --build ./build --config "Release" -j 2
      - name: Testing
        shell: bash
        run: ci/test.msvc.sh
